body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    margin: 10px auto;
    max-width: 500px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-size: 1em;
    text-align: right;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

input[type="number"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #007bff;
    font-weight: bold;
    margin: auto;
    margin-top: 8px;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: block;
}

button:hover {
    background-color: #0056b3;
}

#resultado {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-weight: bold;
    display: none;
    white-space: pre-line;
    /* Mantém a formatação do texto */
}

.resultado-exibido {
    display: block;
}

#resultadosSplitters {
    margin: 15px;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    font-weight: bold;
    display: none;
    position: relative;
}

.resultado-exibido {
    display: block;
}


#conectorDireito {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #bbb;
}

#conectorEsquerdo {
    left: -10px;
}

#conectorDireito {
    right: -10px;
}

.sugestao-box {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: none;
}

#resultadosSugeridos {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    font-weight: bold;
    display: none;
    position: relative;
}